/* Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* shared styles */
.size {
    max-width: 1440px;
    margin: 0 auto;
}

.primary-bg {
    background: #F7F7F7;
}

.hide {
    display: none;
}

.display-flex {
    display: flex;
}

/* navbar section styles */
.logo {
    width: 62px;
    height: 62px;
    margin-right: 10px;
}

.logo-title {
    font-size: 2rem;
    font-weight: 700;
}

.school-logo-sec {
    align-items: center;

}

.navbar {
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

#home {
    color: #FEA301;
}

#about {
    color: #01ACFD;
}

#facility {
    color: #05D4DF;
}

#addmission {
    color: #5D58EF;
}

.logo-btn {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
}

.menu-bar {
    width: 22.5px;
    height: 15px;
}

/* banner section styles */
.banner-container {
    justify-content: space-around;
}

.banner-details {
    width: 640px;
    height: 331px;
    margin: 120px 0px;
}

#Empowering {
    color: #FEA301;
}

#vision {
    color: #01ACFD;
}

.banner-title {
    /* width: 640px; */
    /* height: 183px; */
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description {
    width: 640px;
    height: 50px;
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
}

.banner-btn {
    background-color: rgb(17, 17, 17);
    border-radius: 12px;
    padding: 10px 45px;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
}

.hero-img {
    position: static;
    width: 468.61px;
    height: 575px;
    margin: 0px 0px;
}

/* curriculum section styles */
.curriculum-container {
    background-image: url('../images/bg.png');
    background-position: center;
    text-align: center;
    margin: 60px auto 0px;
}

.curriculum-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 50px;
}

.curriculum-container-cards {
    justify-content: space-evenly;
}

#kinder,
#elementary,
#middle {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 130.7px;
    height: 111.94px;
}

.curriculum-card-1,
.curriculum-card-2,
.curriculum-card-3 {
    justify-content: center;
    align-items: center;

}

.card-title {
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 30px;
    margin: 0px;
}

.card-description {
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px;
    padding-bottom: 30px;
}

#card-anchor-1 {
    color: rgb(100, 200, 255);
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
}

#card-anchor-2 {
    color: rgb(240, 170, 0);
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
}

#card-anchor-3 {
    color: rgb(135, 0, 255);
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
}

.curriculum-card-1 {
    width: 367.8px;
    height: 476.78px;
    border: 0.94px solid rgb(198, 226, 238);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.curriculum-card-2 {
    width: 367.8px;
    height: 476.78px;
    border: 0.94px solid rgb(238, 222, 185);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.curriculum-card-3 {
    width: 367.8px;
    height: 476.78px;
    border: 0.94px solid rgb(218, 201, 241);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

/* sliding arrow styles */
.sliding-arrow {
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.left-arrow,
.right-arrow {
    margin-top: 70px;
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    background-color: #FEA301;
    border-radius: 30px;
    justify-items: center;

}

#sliding-left,
#sliding-right {
    padding: 18px 22px;
    width: 15.38px;
    height: 24px;
    filter: invert(100%) brightness(200%);

}

#sliding-left:hover,
#sliding-right:hover {
    filter: none;

}

/* stories card styles */
.stories-container {
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);

}

.stories-card {
    justify-content: space-evenly;
}

.short-stories-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.large-stories-card {
    width: 540px;
    border-radius: 16px;
    border: 0.94px solid rgb(239, 238, 239);
    background-color: #FFFFFF;
}

.long-stories-img {
    width: 540px;
    height: 337px;
    border-radius: 16px 16px 0px 0px;
}

.stories-title {
    width: 402.49px;
    height: 69.98px;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: start;
    padding-left: 38px;
    margin: 10px 0px;
}

.stories-description {
    width: 433.06px;
    height: 75.74px;
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 500;
    text-align: start;
    padding-left: 38px;
    margin-bottom: 24px;
}

/* .stories-date {
    width: 174.51px;
    height: 47.93px;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    padding: 14px 18px;
    border: none;

} */
.left-story-time time {
    background-color: #05D4DF;
    color: white;
    padding: 3% 5%;
    border-radius: 30px;
    position: relative;
    top: -19px;
  
    right: 145px;
}

.right-story-time time {
    background-color: #95B226;
    color: white;
    padding: 3% 5%;
    border-radius: 30px;
    margin-left: 5px;
    position: relative;
    top: -18px;
    right: 28px;
}

.right-story-time-2 time {
    background-color: #5D58F0;
    color: white;
    padding: 3% 5%;
    border-radius: 30px;
    margin-left: 5px;
    position: relative;
    top: -18px;
    right: 28px;

}
.right-story-time-4{
   width: 136px;
    background-color: #95B226;
    color: white;
    padding: 3% 5%;
    border-radius: 30px;
    margin-left: 5px;
    position: relative;
    top: -18px;
    right: -30px;
}
.short-card1 {
    width: 290.69px;
    height: 301.61px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.short-stories-img {
    width: 291px;
    height: 177px;
    border-radius: 16px 16px 0px 0px;
}

.short-title {
    width: 198.04px;
    height: 47.93px;
    color: rgb(0, 0, 0);
    font-size: .9rem;
    font-weight: 700;
    padding-left: 38px;
    text-align: start;
}

.stories-btn {
    background-color: rgb(17, 17, 17);
    border-radius: 12px;
    padding: 10px 60px;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: 60px auto;

}

/* footer section styles */
.footer {
    background: rgb(1, 172, 253);
    margin-top: 0px;
}

.footer-container {
    width: 1240px;
    height: 500px;
    margin: 0px auto;
    justify-content: space-between;

}

.footer-logo-container,
.footer-web-links {
    align-items: center;
    padding-top: 124px;
}

.footer-logo {
    /* filter: invert(100%) brightness(200%); */
    width: 82.9px;
    height: 103px;
    margin-top: 10px;
}

.footer-title {
    width: 207px;
    height: 80px;
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0px;
}

.footer-description {
    width: 399.02px;
    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 25px;
}

.footer-about {
    flex-direction: column;
    justify-content: center;
}

#about-foot {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 20px;
}

#keep {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px;
    padding: 15px 0px 20px;
}

.about {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0px;
    padding: 10px 0px;
}

.footer-web-links {
    padding-bottom: 30px;
}


/* media query section */
@media screen and (max-width:576px) {

    .size,
    .banner-container,
    .curriculum-container,
    .stories-container {
        max-width: 576px;
    }

    .logo-btn,
    .nav-links,
    .logo-title,
    .sliding-arrow,
    .large-stories-card {
        display: none;
    }


    .logo,
    .menu-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

    }

    .banner-container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border-top: 1px solid orange;
        text-align: center;

    }
    .banner-details marquee{
          width:560px;
    }
    .hero-img {
        width: 90%;
        height: auto;
    }

    .banner-details {
        width: 550px;
        height: 280px;
        margin: 0px auto;

    }

    .banner-title {
        width: 500px;
        font-size: 2.5rem;
        /* margin:0px auto;
        padding:10px; */
        /* text-align: center; */
        margin: 10px auto;

    }

    .banner-description {
        width: 400px;
        height: 80px;
        font-size: 1rem;
        margin: 0px auto;

    }

    .curriculum-container-cards {
        width: 100%;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    .short-stories-card {
        width: 540px;
        height: auto;
        justify-content: space-between;
    }

    .short-card1 {
        width: 250px;
    }
   
    .short-stories-img {
        width: 100%;
    }

    .stories-title {
     padding-left: 10px;

    }
    .short-title{
       padding-left: 20px;
        margin: 0px;
    }
    .right-story-time-4{
        
         right: -10px;
     }
    .footer-container {
        max-width: 550px;
        flex-direction: column;
        height: auto;
        padding-left: 20px;
    }

    .footer-logo-container,
    .footer-about,
    .footer-web-links {
        padding-top: 60px;
    }

    .footer-about,
    .footer-web-links,
    .footer-logo-container {
        width: 550px;

    }
}